.container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  margin-top: 20px;
}

.controlButton {
  cursor: pointer;
  padding: 8px 16px;
  background-color: #b79ced;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  user-select: none;
  transition: background-color 0.3s ease;

  &:hover,
  &:focus {
    background-color: #957fef;
    outline: none;
  }

  &:active {
    background-color: #7161ef;
  }
}
